html {
    font-family: Montserrat, sans-serif; }

.tag::after, .tag::before {
    background: #fff;
    content: '';
    position: absolute; }

input:checked ~ .dot {
    transform: translateX(100%);
    background-color: var(--bx-button-color); }

.tags {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding-left: 0;
    padding-top: 20px; }
.tags li {
    float: left; }

.tag {
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    cursor: pointer;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color .2s; }
.tag::before {
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    height: 6px;
    left: 10px;
    width: 6px;
    top: 10px; }
.tag::after {
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    right: 0;
    top: 0; }
.tag:hover {
    text-decoration: line-through; }

.has-tip-bottom::after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    background: inherit;
    transform-origin: -3px calc(100% - 6px);
    transform: rotate(45deg); }

.blank-input {
    margin: 0;
    border: none;
    border-bottom: 1px solid !important;
    width: 93px;
    height: 35px;
    font-size: inherit;
    background: 0 0;
    color: var(--bx-button-color);
    outline: 0; }

.max-h-80 {
    max-height: 20rem; }

.h-80 {
    height: 20rem; }

.box {
    overflow-wrap: anywhere; }

.opacity-0 {
    opacity: -1; }

.invisible {
    visibility: hidden; }

.opacity-100 {
    opacity: 100; }

.visible {
    visibility: visible; }

.display-none {
    display: none; }

.has-tip-bottom::after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    background: inherit;
    transform-origin: -3px calc(100% - 6px);
    transform: rotate(45deg); }

.absolute {
    position: absolute; }

.relative {
    position: relative; }

.top-0 {
    top: 0; }

.left-0 {
    left: 0; }

.flex {
    display: flex; }

.wrap {
    color: #2f2e2f;
    font-weight: 500;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 10px;
    border: 1px solid #e3e3e3;
    font-size: 16px;
    user-select: none;
    background-color: white;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    outline: 0px;
    line-height: 0; }

.sel ::-moz-selection {
    color: var(--bx-button-color);
    font-weight: bold;
    background: #eee; }

.sel ::selection {
    color: var(--bx-button-color);
    font-weight: bold;
    background: #eee; }

.switch-container {
    padding-top: 20px; }

.switch {
    position: relative; }
.switch label {
    display: flex;
    align-items: center;
    cursor: pointer; }
.switch .indicator {
    position: relative;
    width: 60px;
    height: 30px;
    background: #fff;
    border: 2px solid #e8edfc;
    display: block;
    border-radius: 30px;
    margin-right: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25); }
.switch .indicator:before {
    width: 26px;
    height: 26px;
    content: "";
    display: block;
    background: var(--bx-button-color);
    border-radius: 26px;
    transform: translate(2px, 2px);
    position: relative;
    z-index: 2;
    transition: all 0.5s; }
.switch .indicator:after {
    width: 0;
    content: "";
    display: block;
    position: absolute;
    left: 2px;
    top: 2px;
    height: 26px;
    background: #e8edfc;
    border-radius: 26px;
    z-index: 1;
    transition: all 0.5s; }
.switch input {
    visibility: hidden;
    position: absolute; }
.switch input:checked + .indicator:before {
    transform: translate(32px, 2px); }
.switch input:checked + .indicator:after {
    width: 54px; }

.switch-label {
    padding-top: 10px;
    padding-left: 0; }

.tags-view {
    list-style: none;
    padding-left: 0;
    padding-top: 20px;
    margin: 0;
    overflow: hidden; }
.tags-view li {
    float: left; }

.tag-view {
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    cursor: pointer;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s; }
.tag-view::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px; }
.tag-view::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0; }
.tag-view:hover {
    background-color: var(--bx-button-color);
    color: white; }
.tag-view:hover::after {
    border-left-color: var(--bx-button-color); }

.links {
    text-size-adjust: 100%;
    color: #2f2e2f;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    box-sizing: border-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    top: 81px;
    padding-bottom: 10px;
    z-index: 2;
    width: 100%;
    background-color: white; }

.link-item {
    text-size-adjust: 100%;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    color: var(--bx-button-color);
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-right: 20px; }
.link-item.active {
    color: var(--bx-button-color) !important;
    background: #eff0fc !important; }
.link-item:hover {
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-right: 20px;
    background-color: #f1f1f1;
    color: #767576; }

.bx-label-bl {
    font-weight: 500;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 22px;
    color: #adacad;
    padding-left: 52px;
    margin-top: -20px;
    margin-bottom: 12px; }

.bx-label-desc {
    font-weight: 500;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 22px;
    color: #adacad;
    padding-left: 52px;
    margin-top: -20px;
    margin-bottom: 12px; }
